* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.viola {
color: #7289da;
text-decoration: none;
}

.IB {
  display: inline-block;
}

.aquamarine {
  background-color: aquamarine;
}

.gray {
  background-color: lightgrey;
}

.black {
  background-color: black;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.pad-big {
  padding: 80px 0;
}

.pad-medium {
  padding: 5px 0 30px;
}

.pad-social{
  padding: 30px 0;
}

.pad-small {
  padding-top: 10px;
}

.container{
  margin: 0 auto;
  max-width: 1000px;
  min-width: 600px;
  width: 80%;
}

.btn {
border: 1px solid white;
border-radius: 20px;
padding: 5px 10px;
text-decoration: none;
font-size: .8rem;
}

.bottone-IB {
  display: inline-block;
}

.centro {
  text-align: center;
}

/* header */

header {
  background-color: #255EE9;
  height: 50px;
  padding: 15px 0;
}

.nav {
  list-style-type: none;
  padding-top: 9px;
  justify-content: center;
}

.item {
  margin: 0 10px;
  color: white;
}

.logo {
  min-width: 25%;
}

.link {
 width: 50%;
}
 
.login {
  min-width: 25%;
  text-align: end;
  padding-top: 9px;
}

.accedi {
  background-color: white;
  color: black;
}

/* main */

.jumbo {
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.box-jumbotron {
  min-width: 500px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

.scar {
  background-color: white;
  color: black;
  padding: 10px 20px;
}

.apr {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
}

.titolo {
  color: white;
  padding: 40px 0;
  font-size: 2rem;
}

.dida {
  color: white;
  padding: 0px 0 30px;
  font-size: .9rem;
  line-height: 25px;
}

.titolo-medio {
  font-size: 2.5rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.txt-sec {
  height: 300px;
  border: 1px solid black;
  width: 30%;
  width: 35%;
  background-color: pink;
}

.star {
  background-image: url(../img/stars.svg);
  padding: 40px 0;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 310px 10px;
}

.dload {
  background-color: #7289da;
  color: black;
  padding: 10px 20px;
  width: 150px;
  border: 1px solid #7289da;
}

/* footer */

.ita {
  width: 20px;
  height: 13px;
}

.italy {
  font-size: .8rem;
  color: white;
}

.social {
padding-top: 20px;
color: white;
}

.social i {
padding-right: 8px;
}

.titolo-foot {
  font-size: 1.5rem;
  color: #7289da;
  padding-top: 30px;
  padding-bottom: 20px;
}

.list {
  color: white;
  list-style: none;
  line-height: 30px;
  padding-top: 30px;
  padding: 20px;
}

.items {
  text-decoration: none;
  color: white;
}

.sotto {
  justify-content: space-between;
  border-bottom: 1px solid #7289da;
}

.foot-logo {
  background-color: cadetblue;
  border: 1px dashed black;
}

.base {
  justify-content: space-between;
  align-items: start;
  padding-bottom: 50px;
}

.violet {
  background-color: #7289da;
  color: white;
  border: 1px solid #7289da;
}